
{% extends 'base.html' %}
{% load static %}

{% block title %}
    Inicio
{% endblock title %}


{% block content %}



    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'images\f.jpg' %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Clases Particulares online</h1>
            <p>Con nuestra pagina podras reservar tus clases de acuerdo a tus posibilidades, ofrecemos ayuda con ingles, matematica e historia desde primaria hasta secundaria! -- proximamente mas materias--</p>
            
        </div>
    </div>

{% endblock content %}
